<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="es.farfuteam.vncpp.controller"
    android:versionCode="1"
    android:versionName="1.0"
    android:installLocation="auto" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="14" />
    
    

    <!-- Allow writing to external storage -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> 
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- Para saber si hay conexión, y de que tipo es -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_vncpp"
        android:label="@string/app_name"
        android:theme="@style/MyTheme" android:logo="@drawable/logo_vncpp">
        <activity
            android:name="es.farfuteam.vncpp.controller.ClientActivityTabs"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity 
            android:name="es.farfuteam.vncpp.controller.NewConnectionActivity" 
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="stateVisible|adjustResize" 
            >           
        </activity>
        
        <activity 
            android:name="es.farfuteam.vncpp.controller.EditionActivity">           
        </activity>
        
        <activity 
            android:name="es.farfuteam.vncpp.controller.ListFragmentTab">           
        </activity>
        
      


        <activity 
            android:name="es.farfuteam.vncpp.controller.CanvasActivity"
             android:configChanges="keyboardHidden|orientation|screenSize"
             >
            <intent-filter>
				<action android:name="android.intent.action.VIEW"></action>
			</intent-filter>
          
        </activity>
    </application>

   
</manifest>
